@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

@import 'bootstrap/scss/functions';
@import 'utils/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap';

body {
  font-family: 'Inter', 'Noto Sans TC', sans-serif;
}
